h1 {
    text-align: center;
}

.container {
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
}

.marker {
    margin: 10px auto;
    height: 25px;
    width: 200px;
}

.cap {
    width: 60px;
    height: 25px;
}

.sleeve {
    border-left: 10px double rgba(0, 0, 0, 75%);
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
}

.cap, .sleeve {
    display: inline-block;
}

.red {
    background: linear-gradient(rgb(102, 0, 0), rgb(255, 102, 102), rgb(204, 0, 0));
    box-shadow: 5px 5px 5px rgb(255, 0, 0);
}

.green {
    background: linear-gradient(rgb(0, 102, 0), rgb(102, 255, 102), rgb(0, 204, 0));
    box-shadow: 5px 5px 5px rgb(0, 255, 0);
}

.blue {
    background: linear-gradient(rgb(0, 0, 102), rgb(102, 102, 255), rgb(0, 0, 204));
    box-shadow: 5px 5px 5px rgb(0, 0, 255);
}

.yellow {
    background: linear-gradient(rgb(102, 102, 0), rgb(255, 255, 102), rgb(204, 204, 0));
    box-shadow: 5px 5px 5px rgb(255, 255, 0);
}

.cyan {
    background: linear-gradient(rgb(0, 102, 102), rgb(102, 255, 255), rgb(0, 204, 204));
    box-shadow: 5px 5px 5px rgb(0, 255, 255);
}

.rose {
    background: linear-gradient(rgb(102, 0, 51), rgb(255, 102, 255), rgb(204, 0, 204));
    box-shadow: 5px 5px 5px rgb(255, 0, 255);
}

.orange {
    background: linear-gradient(rgb(102, 51, 0), rgb(255, 153, 51), rgb(204, 102, 0));
    box-shadow: 5px 5px 5px rgb(255, 127, 0);
}

.spring_green {
    background: linear-gradient(rgb(0, 102, 51), rgb(102, 255, 178), rgb(0, 204, 102));
    box-shadow: 5px 5px 5px rgb(0, 255, 127);
}

.purple {
    background: linear-gradient(rgb(51, 0, 102), rgb(178, 102, 255), rgb(102, 0, 204));
    box-shadow: 5px 5px 5px rgb(127, 0, 255);
}

.chartreuse {
    background: linear-gradient(rgb(51, 102, 0), rgb(178, 255, 102), rgb(102, 204, 0));
    box-shadow: 5px 5px 5px rgb(127, 255, 0);
}

.sky_blue {
    background: linear-gradient(rgb(0, 51, 102), rgb(102, 178, 255), rgb(0, 102, 204));
    box-shadow: 5px 5px 5px rgb(0, 127, 255);
}

.deep_pink {
    background: linear-gradient(rgb(102, 0, 51), rgb(255, 102, 255), rgb(204, 0, 102));
    box-shadow: 5px 5px 5px rgb(255, 0, 127);
}
